body {
     background:  rgb(173, 169, 169);
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
}

header {
     font-family: Century Gothic;
     background: rgb(104, 29, 29);
     width: 100%;
     height: 55px;
     top: 0px;
}

main {
     background: #DCDCDC;
     width: 100%;
     height: 100%;
}
font{
    font-family: Century Gothic;
    font-size: 16pt
}
 
footer {
    position: fixed;
    background: rgba(33, 24, 75, 0.658);
	width: 100%;
    height: 40px;
    bottom: 0px;
}